* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(114, 104, 65);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: rgb(114, 104, 65);
    justify-content: space-around;
    padding: 20px 0;
    color: rgb(0, 0, 0);
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: 'Franklin Gothic Medium', sans-serif;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    
} 

nav ul li a:hover {
    color: rgb(255, 255, 255);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s;
}

/*toggle menu animationn */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;  
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;  
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* responsive breakpoint */

/* ukuran tablet*/
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }

}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0%;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgb(114, 104, 65);
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
}



/*bagian foto dan penjelasan */
.header {
    text-align: center;
    background: url('../img/bg.jpg') no-repeat;
    /* Photo by cottonbro from Pexels*/
    background-color: #feda5f;
    background-blend-mode: multiply;
    opacity: .8;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    
}

.header .wrapper-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.header .wrapper-center h1 {
    color: #f7c72a;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 40px;
}

.header .wrapper-center img ul li a{
    transition: all 0.5s;
}
.header .wrapper-center img {
    border-radius: 50%;
    border: 7px solid #3a3007;
    box-shadow: 0 28px 26px 0px rgba(0, 0, 0, .7);
    width: 40%;
    transition: transform .5s ease-out;
    cursor: pointer;
}

.header .wrapper-center img:hover {
    transform: scale(1.1);
}

.header .wrapper-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    
}

.header .wrapper-center ul li a {
    margin-right: 15px;
    text-decoration: none;
    color: #f7c72a;
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 0px 2px 1px black;
    margin-bottom: 40px;

}

.header .wrapper-center ul li a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.tentang {
    background: #ba9623;
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.tentang .wrapper h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
    text-shadow: 0px 1px 1px black;
    border-bottom: 5px solid white;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 20px;
}

.tentang .wrapper p {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px;
    padding: 0 35px;
    text-shadow: 0px 1px 1px black;
    margin-bottom:  50PX;
}   

.tentang .wrapper a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 30px;
    border: 5px solid black;
    border-top: none;
    border-left:none;
    border-right: none;
}

.tentang .wrapper a:hover {
    color: rgb(126, 126, 126);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 30px;
    border: 5px solid rgb(145, 139, 139);
    border-top: none;
    border-left:none;
    border-right: none;
}

.skill {
    background: #b3983e;
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.skill .wrapper {
    width: 100%;
}

.skill .wrapper h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
    text-shadow: 0px 1px 1px black;
    border-bottom: 5px solid white;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 20px;
}

.skill .wrapper-skill {
    text-align: left;
}

.skill .wrapper-skill h5 {
    text-transform: uppercase;
    text-shadow: 0px 1px 1px black;
    font-size: 18px;
    margin-bottom: 6px;
    padding-left: 5px;
}

.skill .wrapper-skill .background {
    position: relative;
    width: 100%;
    height: 30px;
    background: white;

}

.skill .wrapper-skill .background .indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    background: blue;
    z-index: 2;
}

.indicator.html {
    width: 80%;
}

.indicator.css {
    width: 65%;
}

.indicator.javascript {
    width: 50%;;
}

.pendidikan {
    background: #ba9623;
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.pendidikan .wrapper h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
    text-shadow: 0px 1px 1px black;
    border-bottom: 5px solid white;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 20px;
}

.pendidikan .wrapper p {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px;
    padding: 0 35px;
    text-shadow: 0px 1px 1px black;
    margin-bottom:  50PX;
}

.pendidikan .wrapper .riwayat {
    float: left;
    width: 600px;
    margin-right: 5px;
    min-height: 300px ;

}

.pendidikan .wrapper .pengalaman {
    float: left;
    width: 600px;
    margin-right: 5px;
    min-height: 300px ;
    
}

.footer {
    background:rgb(114, 104, 65);
    color: black;
    text-align: center;
    padding: 15px 0px;
}